body {
  margin: 0;
  background-color: #f8f9fb; 
  color: #151515;
}

.emoji {
  display: inline-block;
  width: auto;
  height: 1em;
  vertical-align: -0.125em;
}

// DaisyUI
.btn-primary, .badge-primary {
  color: white !important;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(241,40,222,1) 0%, rgba(35,21,239,1) 100%);
}

.btn {
  border-radius: 100px !important;
  text-transform: uppercase !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border-style: hidden;
  font-weight: 700 !important;
}

// Slider
:root {
  --no-of-slides: 6;
  --slides-in-view: 4;
  --slide-width: 300px;
  --slide-height: 290px;
  --iteration-time: 25s;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(var(--slide-width) * var(--no-of-slides)* -1));
  }
}

.cr-wrapper {
  display: flex;
  align-items: center;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

.cr {
  padding: 0px 0;
  overflow: hidden;
  width: calc(2 * var(--no-of-slides));
}

.cr-slide {
  animation: scroll var(--iteration-time) linear infinite;
  display: flex;
  flex-direction: column;
  
  flex: 0 0 auto;
  width: var(--slide-width);
  height: var(--slide-height);
  box-sizing: border-box;
}